html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f3f4;
  font-family: "Helvetica Neue", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: black;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
